<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("ViewResult", "TestViewResult",
    "Home")
    </li>
    <li>
        @Html.ActionLink("PartialViewResult",
"TestPartialViewResult", "Home")
</li>
<li>
    @Html.ActionLink("EmptyResult", "TestEmptyResult",
"Home")
</li>
<li>
    @Html.ActionLink("RedirectResult ",
"TestRedirectResult", "Home")
</li>
<li>
    @Html.ActionLink("JsonResult", "TestJsonResult",
"Home")
</li>
<li>
    @Html.ActionLink("JavaScriptResult",
"TestJavaScriptResult", "Home")
</li>
<li>
    @Html.ActionLink("ContentResult",
"TestContentResult", "Home")
</li>
<li>
    @Html.ActionLink("FileContentResult ",
"TestFileContentResult", "Home")
</li>
<li>
    @Html.ActionLink("FileStreamResult",
"TestFileStreamResult", "Home")
</li>
<li>
    @Html.ActionLink("FilePathResult",
"TestFilePathResult", "Home")
</li>
</ul>
</div>