@model PtqLesson09Db.Models.ptqKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ptqKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PtqTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtqTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtqTranngThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtqTranngThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PtqMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
